$base-font: 'Open Sans', sans-serif;
$heading-font: 'Fifindrel';
$heading-font-cz: 'Promocyja';
$calligraphic-font: 'Great Vibes', cursive;

$base-font-size: 16;

$dark-gray: #6e6e6e;
$darker-gray: #3e3e3d;
$light-gray: #a9a9a9;
$lighter-gray: #f9f9f9;
$gray: #767878;
$gray2: #848383;
$white: #fff;
$black: #000;
$green: #5e9a8e;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: $lighter-gray;
$text-color: $gray;
$heading-color: $dark-gray;
$section-title: $gray2;
