<!DOCTYPE html>
<html lang="set_lang">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="yaml_metadescr">

  <!-- Page Title -->
  <title>#silviatheo</title>

  <!-- Favicon and Touch Icons -->
  <link href="../images/favicon/favicon.png" rel="shortcut icon" type="image/png">
  <link href="../images/favicon/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="../images/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="../images/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="../images/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

  <!-- Icon fonts -->
  <link href="../css/font-awesome.min.css" rel="stylesheet">
  <link href="../css/flaticon.css" rel="stylesheet">
  <link href="../fonts/wedding.css" rel="stylesheet">
  <link href="../fonts/lifestyle.css" rel="stylesheet">
  <link href="../fonts/promocyja.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Plugins for this template -->
  <link href="../css/animate.css" rel="stylesheet">
  <link href="../css/owl.carousel.css" rel="stylesheet">
  <link href="../css/owl.theme.css" rel="stylesheet">
  <link href="../css/slick.css" rel="stylesheet">
  <link href="../css/slick-theme.css" rel="stylesheet">
  <link href="../css/owl.transitions.css" rel="stylesheet">
  <link href="../css/jquery.fancybox.css" rel="stylesheet">
  <link href="../css/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="home">

  <!-- start page-wrapper -->
  <div class="page-wrapper">

    <!-- start preloader -->
    <div class="preloader">
      <div class="inner">
        <span class="icon"><i class="fi flaticon-two"></i></span>
      </div>
    </div>
    <!-- end preloader -->


    <!-- start of hero -->
    <section class="hero">
      <div class="hero-slider hero-slider-s1">
        <div class="slide-item">
          <img src="../images/slider/slide-1.jpg" alt class="slider-bg">
        </div>

        <div class="slide-item">
          <img src="../images/slider/slide-2.jpg" alt class="slider-bg">
        </div>
      </div>
      <div class="wedding-announcement">
        <div class="couple-name-merried-text">
          <h2 class="wow slideInUp" data-wow-duration="1s">Σίλβια & Θοδωρής</h2>
          <div class="married-text wow fadeIn" data-wow-delay="1s">
            <h4 class="">
yaml_weregettingmarried
            </h4>
          </div>
          <!-- <i class="fa fa-heart"></i> -->
        </div>

        <div class="save-the-date">
          <h4>Save the date</h4>
          <span class="date">yaml_date</span>
        </div>
      </div>
    </section>
    <!-- end of hero slider -->


    <!-- Start header -->
    <header id="header" class="site-header header-style-1">
      <nav class="navigation navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="open-btn">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="couple-logo">
              <h1><a href="#" class="back-to-top-btn-logo">Σ <i class="fi flaticon-shape-1" style="font-size: 38px; 1.94rem; position: relative; top: -12px"></i> Θ</a></h1>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
            <button class="close-navbar"><i class="fa fa-close"></i></button>
            <ul class="nav navbar-nav">
              <!--li><a href="#home">Home</a></li-->
              <li><a href="#invitation">yaml_invitation_title_cap</a></li>
              <li><a href="#timeline">yaml_timeline_title_cap</a></li>
              <li><a href="#venue">yaml_venue_title_cap</a></li>
              <li><a href="#transportation">yaml_transportation_title_cap</a></li>
              <li><a href="#accommodation">yaml_accommodation_title_cap</a></li>
              <li><a href="#rsvp">RSVP</a></li>
              <li><a href="#pre-party">Pre-Party</a></li>
              <li class="menu-item-has-children">
set_flags
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- end of header -->


    <!-- start wedding-couple-section -->
    <section class="wedding-couple-section section-padding" id="invitation">
      <div class="section-title">
        <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
        <h2>yaml_invitation_title_cz</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="gb groom">
              <div class="img-holder wow fadeInLeftSlow">
                <img src="../images/logo/logo.jpg">
              </div>
              <div class="details">
                <div class="details-inner">
                  yaml_invitation_content
                  <span class="signature">Silvia &amp; Theo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end wedding-couple-section -->


    <!-- start count-down-section -->
    <section class="count-down-section section-padding parallax" data-bg-image="../images/countdown-bg.jpg" data-speed="7">
      <div class="container">
        <div class="row">
          <div class="col col-md-4">
            <h2><span>Loading .....</span> Save the Date!<span>11-07-2020</h2>
          </div>
          <div class="col col-md-7 col-md-offset-1">
            <div class="count-down-clock">
              <div id="clock">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end count-down-section -->


    <!-- start story-section -->
    <section class="story-section section-padding" id="timeline">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_timeline_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-xs-12">
            <div class="story-timeline">
              <div class="row">
                <div class="col col-md-6 text-holder">
                  <div class="story-text right-align-text">
                    <i class="lifestyle-bus"></i>
                    <h3>yaml_bus1_title_cap</h3>
                    <div class="timeline-clocks">
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 18:00
                      </span>
                    </div>
                    <p>yaml_bus1_content</p>
                  </div>
                </div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <i class="fa fa-heart"></i>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6"></div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <i class="fa fa-heart"></i>
                  </span>
                  <div class="story-text">
                    <i class="wedding-024-wedding-ring-2"></i>
                    <h3>yaml_ceremony_title_cap</h3>
                    <div class="timeline-clocks">
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 19:00
                      </span>
                    </div>
                    <p>yaml_ceremony_content</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6 text-holder right-heart" id="cocktail-timeline">
                  <span class="heart">
                    <i class="fa fa-heart"></i>
                  </span>
                  <div class="story-text right-align-text">
                    <i class="wedding-019-champagne-1"></i>
                    <h3>yaml_cocktail_title_cap</h3>
                    <div class="timeline-clocks">
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 20:00
                      </span>
                    </div>
                    <p>yaml_cocktail_content</p>
                  </div>
                </div>
                <div class="col col-md-6">
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6">
                </div>
                <div class="col col-md-6 text-holder" id="dinner-timeline">
                  <span class="heart">
                    <i class="fa fa-heart"></i>
                  </span>
                  <div class="story-text">
                    <i class="wedding-003-wedding-cake"></i>
                    <h3>yaml_dinner_title_cap</h3>
                    <div class="timeline-clocks">
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 22:00
                      </span>
                    </div>
                    <p>yaml_dinner_content</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6 text-holder right-heart" id="party-dance-timeline">
                  <span class="heart">
                    <i class="fa fa-heart"></i>
                  </span>
                  <div class="story-text right-align-text">
                    <i class="wedding-043-music-note"></i>
                    <h3>yaml_party_title_cap</h3>
                    <div class="timeline-clocks">
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 00:00
                      </span>
                    </div>
                    <p>It's party time! Throw your hands in the air and wave them like you just don't care! yaml_party_content</p>
                  </div>
                </div>
                <div class="col col-md-6">
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6">
                </div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <i class="fa fa-heart"></i>
                  </span>
                  <div class="story-text">
                    <i class="lifestyle-bus"></i>
                    <h3>yaml_bus2_title_cap</h3>
                    <div class="timeline-clocks">
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 01:30
                      </span>
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 03:00
                      </span>
                      <span class="timeline-clock">
                        <i class="fa fa-clock-o"></i> 05:00
                      </span>
                    </div>
                    <p>yaml_bus2_content</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end story-section -->


    <!-- start cta -->
    <section class="cta section-padding parallax" data-bg-image="../images/cta-bg.jpg" data-speed="7">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <h2><span>yaml_hashtag</span> #silviatheo</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- end cta -->


    <!-- start events-section -->
    <section class="events-section section-padding" id="venue">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_venue_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <div class="img-holder">
                <img src="../images/venue.jpg" alt class="img img-responsive">
              </div>
              <div class="details">
                <h3>La Quinta de Illescas</h3>
                <ul>
                  <li><i class="fa fa-map-marker"></i>yaml_venue_address</li>
                  <!--li><i class="fa fa-clock-o"></i>11-07-2020 19:00</li-->
                </ul>
                <p>yaml_venue_content</p>
                <a class="see-location-btn popup-gmaps" target="_blank" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414">yaml_venue_map <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end events-section -->


    <!-- start events-section -->
    <section class="events-section section-padding" id="transportation" style="background-color: #f9f9f9;">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_transportation_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <p>yaml_transportation_content</p>
            </div>
            <div class="event">
              <div class="img-holder">
                <img src="../images/transportation1.jpg" alt class="img img-responsive">
              </div>
              <div class="details">
                <h3>yaml_transportation1_title:</h3>
                <ul>
                  <li><i class="fa fa-map-marker"></i>yaml_transportation1_address</li>
                  <li><i class="fa fa-clock-o"></i> 19:00</li>
                </ul>
                <p>yaml_transportation1_content</p>
                <a class="see-location-btn popup-gmaps" target="_blank" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414">yaml_transportation1_map <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="event">
              <div class="img-holder">
                <img src="../images/transportation2.jpg" alt class="img img-responsive">
              </div>
              <div class="details">
                <h3>yaml_transportation2_title:</h3>
                <ul>
                  <li><i class="fa fa-map-marker"></i>yaml_transportation2_address</li>
                  <li><i class="fa fa-clock-o"></i> 19:00</li>
                </ul>
                <p>yaml_transportation2_content</p>
                <a class="see-location-btn popup-gmaps" target="_blank" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414">yaml_transportation2_map <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end events-section -->


    <!-- start inportant-people-section -->
    <section class="inportant-people-section section-padding" id="accommodation">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_accommodation_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-xs-12">
            <div class="inportant-people-content">
              <p>yaml_accommodation_content</p>
              <br/>
              <div class="tab-content">
                <div class="tab-pane fade in active grid-wrapper" id="groomsmen">
                  <div class="grid">
                    <div class="img-holder">
                      <a href="https://google.com" target="_blank">
                        <img src="../images/hotel1.jpg" alt class="img img-responsive">
                      </a>
                    </div>
                    <div class="details">
                      <h3>Hotel 1</h3>
                      <span>yaml_accommodation_address1</span>
                      <ul class="social-links">
                        <li><a href="#" target="_blank">yaml_accommodation_map</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a href="https://google.com" target="_blank">
                        <img src="../images/hotel2.jpg" alt class="img img-responsive">
                      </a>
                    </div>
                    <div class="details">
                      <h3>Hotel 2</h3>
                      <span>yaml_accommodation_address2</span>
                      <ul class="social-links">
                        <li><a href="#" target="_blank">yaml_accommodation_map</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="grid">
                    <div class="img-holder">
                      <a href="https://google.com" target="_blank">
                        <img src="../images/hotel3.jpg" alt class="img img-responsive">
                      </a>
                    </div>
                    <div class="details">
                      <h3>Hotel 3</h3>
                      <span>yaml_accommodation_address3</span>
                      <ul class="social-links">
                        <li><a href="#" target="_blank">yaml_accommodation_map</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end inportant-people-section -->


    <!-- start getting-there-section -->
    <section class="getting-there-section section-padding">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title-white">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_gifts_surprises_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row content">
          <div class="col col-md-6">
            <h3>yaml_gifts_title</h3>
            <p>yaml_gifts_content</p>
            <pre>IBAN: ES91 0239 0806 7600 1762 9528<br/>SWIFT/BIC: EVOBESMMXXX<br/>NAME: Silvia Alvarez Almazan</pre>
          </div>
          <div class="col col-md-6">
            <h3>yaml_surprises_title</h3>
            <p>yaml_surprises_content</p>
            <p>Melanie: <a href="mailto:info@imaginatuboda.es">info@imaginatuboda.es</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- end getting-there-section -->


    <!-- start rsvp-section -->
    <section class="rsvp-section section-padding parallax" data-bg-image="../images/rsvp-bg.jpg" data-speed="7" id="rsvp">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title-white">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_rsvp_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row content">
          <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>yaml_rsvp_content</p>
            <form id="rsvp-form" class="form validate-rsvp-form row" method="post">
              <div class="col col-sm-6">
                <input type="text" name="name" class="form-control" placeholder="yaml_rsvp_name*">
              </div>
              <div class="col col-sm-6">
                <input type="email" name="email" class="form-control" placeholder="yaml_rsvp_email*">
              </div>
              <div class="col col-sm-6">
                <input type="text" name="partner-name" class="form-control" placeholder="yaml_rsvp_partner">
              </div>
              <div class="col col-sm-6">
                <select class="form-control" name="kids">
                  <option disabled selected>yaml_rsvp_kids</option>
                  <option>0</option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                </select>
              </div>
              <div class="col col-sm-12">
                <textarea class="form-control" name="message" placeholder="yaml_rsvp_message"></textarea>
              </div>
              <div class="col col-sm-12 submit-btn">
                <button type="submit" class="submit">yaml_rsvp_send</button>
                <span id="loader"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span>
              </div>
              <div class="col col-md-12 success-error-message">
                <div id="success">yaml_rsvp_thankyou</div>
                <div id="error"> Error occurred while sending email. Please try again later. </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- end rsvp-section -->


    <!-- start events-section -->
    <section class="events-section section-padding" id="pre-party">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
              <h2>yaml_preparty_title_cz</h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <div class="img-holder">
                <img src="../images/pre-party.jpg" alt class="img img-responsive">
              </div>
              <div class="details">
                <h3>TODO bar name</h3>
                <ul>
                  <li><i class="fa fa-map-marker"></i>yaml_preparty_address</li>
                  <li><i class="fa fa-clock-o"></i> yaml_preparty_date 2020 17:00</li>
                </ul>
                <p>yaml_preparty_content</p>
                <a class="see-location-btn popup-gmaps" target="_blank" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414">yaml_preparty_map <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end events-section -->


    <!-- start footer -->
    <footer class="site-footer">
      <div class="back-to-top">
        <a href="#" class="back-to-top-btn"><span><i class="fi flaticon-cupid"></i></span></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <h2>I feel your love for me baby...</h2>
            <span>- Busta Rhymes</span>
          </div>
        </div>
      </div>
    </footer>
    <!-- end footer -->

  </div>
  <!-- end of page-wrapper -->


  <!-- All JavaScript files
  ================================================== -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

  <!-- Plugins for this template -->
  <script src="../js/jquery-plugin-collection.js"></script>

  <!-- Custom script for this template -->
  <script src="../js/script.js"></script>
</body>
</html>
