.page-title {
  @include background-style("../images/page-title.jpg", center center, cover, no-repeat, local);
  height: 300px;
  text-align: center;
  position: relative;
  display: table;
  width: 100%;

  @include media-query(1199px) {
    height: 250px;
  }

  &:before {
    content: "";
    @include overlay(transparentize($black, 0.2));
  }

  .container {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
  }

  h2 {
    color: $white;
    font-size: 55px;
    font-size: calc-rem-value(48.88896);
    font-weight: 600;
    margin: 0 0 0.5em;
    text-transform: uppercase;

    @include media-query(1199px) {
      font-size: 45px;
      font-size: calc-rem-value(40);
    }

    @include media-query(767px) {
      font-size: 40px;
      font-size: calc-rem-value(35.55552);
    }
  }
}
