// fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Great+Vibes');
@font-face {
  font-family: "Fifindrel";
  src: url('../fonts/AC-Fifindrel_Unicode.otf') format('opentype');
}
@font-face {
  font-family: "Promocyja";
  src: url('../fonts/promocyja.otf') format('opentype');
  font-style: normal;
}

$base-font: 'Open Sans';
$heading-font: 'Great Vibes';
$heading-font2: 'Fifindrel';
$base-font-size: 16;

// color
$dark-gray: #6e6e6e;
$lighter-gray: #f9f9f9;
$gray3: #767878;
$white: #fff;
$black: #000;
$green: #5e9a8e;

$theme-primary-color: $green;
$body-bg-color: $white;
$section-bg-color: $lighter-gray;
$text-color: $gray3;
$heading-color: $dark-gray;
