/*--------------------------------------------------------------
#0.6 wedding-couple-section
--------------------------------------------------------------*/
.wedding-couple-section {
  .gb {
    overflow: hidden;

    > div {
      width: 50%;
      float: left;
    }

    > div {
      @include media-query(991px) {
        width: 100%;
        float: none;
      }
    }
  }

  .img-holder img {
    max-width: 100%;
    opacity: 0;
    visibility: hidden;

    @include media-query(470px) {
      opacity: 1;
      visibility: visible;
    }
  }

  .details {
    background-color: transparentize($theme-primary-color, 0.95);
    padding: 50px 55px;

    @include widther(992px) {
      display: table;
    }

    @include media-query(991px) {
      padding: 40px 45px;
    }

    @include media-query(767px) {
      padding: 40px 25px;
    }

    > .details-inner {
      @include widther(992px) {
        display: table-cell;
        vertical-align: middle;
      }
    }

    h3 {
      font-size: 26px;
      font-size: calc-rem-value(23.11104);
      font-weight: 600;
      color: $darker-gray;
      margin: 0 0 0.7em;
      text-transform: uppercase;

      @include media-query(1199px) {
        font-size: 22px;
        font-size: calc-rem-value(19.55552);
      }

      @include media-query(767px) {
        font-size: 20px;
        font-size: calc-rem-value(17.77776);
      }
    }

    .signature {
      font-family: $calligraphic-font;
      font-size: 28px;
      font-size: calc-rem-value(24.88896);
      display: block;
      padding-left: 25px;
      margin-top: 15px;
      position: relative;

      @include media-query(1199px) {
        font-size: 22px;
        font-size: calc-rem-value(19.55552);
      }

      &:before {
        content: "";
        background-color: $black;
        width: 15px;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        @include translatingY();
      }
    }

    .social-links {
      margin-top: 20px;
    }

    .social-links > li + li {
      margin-left: 3px;
    }

    .social-links a {
      background-color: lighten($theme-primary-color, 10%);
      width: 34px;
      height: 34px;
      line-height: 34px;
      font-size: 14px;
      font-size: calc-rem-value(12.44448);
      color: $white;
      @include rounded-border();

      @include media-query(1199px) {
        width: 32px;
        height: 32px;
        line-height: 32px;
        font-size: 13px;
        font-size: calc-rem-value(11.55552);
      }
    }

    .social-links a:hover {
      background-color: $theme-primary-color;
    }
  }

  @include widther(992px) {
    .bride {
      text-align: right;

      .signature {
        padding-right: 25px;

        &:before {
          left: auto;
          right: 0;
        }
      }

      .social-links {
        display: inline-block;
      }
    }
  }

  @include media-query(991px) {
    .img-holder,
    .details {
      height: auto !important;
    }

    .bride {
      margin-top: 25px;
    }
  }

  @include media-query(470px) {
    .img-holder {
      background: none !important;
    }
  }
}


/*--------------------------------------------------------------
#0.7 count-down-section
--------------------------------------------------------------*/
.count-down-section {
  position: relative;

  &:before {
    content: "";
    @include overlay(transparentize($black, 0.4));
  }

  h2 {
    font-family: $calligraphic-font;
    font-size: 72px;
    font-size: calc-rem-value(64);
    color: $white;
    margin: 0;

    @include media-query(1199px) {
      font-size: 62px;
      font-size: calc-rem-value(55.11104);
    }

    @include media-query(767px) {
      font-size: 50px;
      font-size: calc-rem-value(44.44448);
    }

    > span {
      font-size: 30px;
      font-size: calc-rem-value(26.66672);
      display: block;
      margin-bottom: 0.6em;

      @include media-query(1199px) {
        font-size: 25px;
        font-size: calc-rem-value(22.22224);
      }

      @include media-query(767px) {
        font-size: 20px;
        font-size: calc-rem-value(17.77776);
      }
    }
  }

  .count-down-clock {
    margin-top: 13px;

    @include media-query(991px) {
      margin-top: 35px;
    }
  }

  #clock {
    color: white;
    overflow: hidden;
    text-shadow: 1px 1px 1px black;

    > div {
      background: transparentize($white, 0.7);
      width: 23.5%;
      float: left;
      text-align: center;
      padding: 15px;
      @include rounded-border(5px);
      border: 5px solid transparentize($black, 0.9);

      @include media-query(767px) {
        width: calc(50% - 5px);
      }
    }

    > div + div {
      margin-left: 2%;

      @include media-query(767px) {
        margin: 0;
      }
    }

    > div:nth-child(2),
    > div:nth-child(4) {
      margin: 0 0 10px 10px;
    }

    .box > div {
      font-size: 40px;
      font-size: calc-rem-value(35.55552);
      font-weight: 600;
      line-height: 1em;

      @include media-query(1199px) {
        font-size: 35px;
        font-size: calc-rem-value(31.11104);
      }

      @include media-query(991px) {
        font-size: 30px;
        font-size: calc-rem-value(26.66672);
        line-height: 1.3em;
      }
    }

    .box span {
      font-size: 14px;
      font-size: calc-rem-value(12.44448);
      text-transform: uppercase;
    }
  }
}


/*--------------------------------------------------------------
#0.8 story-section
--------------------------------------------------------------*/
.story-section {

  .story-timeline {
    position: relative;

    &:after {
      content: "";
      background: transparentize($theme-primary-color, 0.9);
      width: 2px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
      @include translatingX();

      @include media-query(991px) {
        display: none;
      }
    }
  }

  .story-timeline > .row {
    position: relative;
  }

  .story-timeline > .row + .row {
    /* margin-top: 50px; */
    padding-top: 15px;

    @include media-query(991px) {
      padding-top: 0;
    }

    @include widther(992px) {
      padding-top: 0;
    }
  }

  .story-timeline > .row > .col:first-child {
    padding: 0 45px 0 100px;

    @include media-query(1199px) {
      padding: 0 45px 0 70px;
    }

    @include media-query(991px) {
      padding: 0 15px;
    }
  }

  .story-timeline > .row > .col:last-child {
    padding: 0 100px 0 45px;

    @include media-query(1199px) {
      padding: 0 70px 0 45px;
    }

    @include media-query(991px) {
      padding: 0 15px;
    }
  }

  .story-timeline .story-text {
    @include media-query(991px) {
      background: transparentize($theme-primary-color, 0.95);
      padding: 35px 25px;
    }

    @include widther(992px) {
      position: relative;
      top: -33px;
    }
  }

  .story-timeline .right-align-text {
    @include widther(992px) {
      text-align: right;
    }
  }

  .story-timeline .text-holder {
    position: relative;

    @include media-query(991px) {
      border: 0;
      padding-top: 0 !important;
    }

    .heart {
      color: $white;
      background-color: lighten($theme-primary-color, 20%);
      width: 43px;
      height: 43px;
      line-height: 41px;
      text-align: center;
      border: 2px solid transparentize($theme-primary-color, 0.5);;
      position: absolute;
      left: -22px;
      top: -22px;
      @include rounded-border();
      z-index: 10;

      @include media-query(991px) {
        display: none;
      }
    }
  }

  .story-timeline .right-heart {
    margin-top: 2px;
  }

  .story-timeline .right-heart .heart {
    left: auto;
    right: -22px;
  }

  .story-timeline h3 {
    font-size: 22px;
    font-size: calc-rem-value(19.55552);
    font-weight: 600;
    margin: 0 0 0.5em;
    text-transform: uppercase;

    @include media-query(991px) {
      font-size: 20px;
      font-size: calc-rem-value(17.77776);
    }

    @include media-query(767px) {
      font-size: 18px;
      font-size: calc-rem-value(16);
    }
  }

  .story-timeline .clocks {
    margin-top: 15px;
    margin-bottom: 8px;
  }

  .story-timeline .clock {
    padding-right: 12px;
  }

  .story-timeline .clock:last-child {
    padding-right: 0px;
  }

  .story-timeline .clock .flaticon-time {
    color: $green;
    font-size: 14.5px;
  }

  .story-timeline .date {
    font-size: 14px;
    font-size: calc-rem-value(12.44448);
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
    //text-transform: uppercase;
  }

  .story-timeline img {
    display: inline-block;
  }
}


/*--------------------------------------------------------------
#0.9 cta
--------------------------------------------------------------*/
.cta {
  position: relative;
  text-align: center;

  &:before {
    content: "";
    @include overlay(transparentize($black, 0.45));
  }

  h2 {
    font-family: $calligraphic-font;
    font-size: 75px;
    font-size: calc-rem-value(66.66672);
    color: $white;
    margin: 0;

    @include media-query(1199px) {
      font-size: 60px;
      font-size: calc-rem-value(53.33328);
    }

    @include media-query(991px) {
      font-size: 50px;
      font-size: calc-rem-value(44.44448);
    }

    @include media-query(767px) {
      font-size: 40px;
      font-size: calc-rem-value(35.55552);
    }

    span {
      font-family: $base-font;
      line-height: 1.5;
      font-size: 20px;
      font-size: 1.4rem;
      display: block;
      margin-bottom: 0.6em;

      @include media-query(1199px) {
        font-size: 25px;
        font-size: calc-rem-value(22.22224);
      }

      @include media-query(991px) {
        font-size: 20px;
        font-size: calc-rem-value(17.77776);
      }
    }
  }
}


/*--------------------------------------------------------------
#1.0 events-section
--------------------------------------------------------------*/
#transportation {
  background-color: $section-bg-color;
}

.events-section {

  .event {
    overflow: hidden;
  }

  .event + .event {
    margin-top: 45px;

    @include media-query(991px) {
      border-top: 1px solid #ececec;
      margin-top: 35px;
      padding-top: 45px;
    }
  }

  .event {
    .img-holder {
      width: 40%;
      float: left;

      @include media-query(991px) {
        width: 100%;
        float: none;
      }
    }

    .details {
      width: 60%;
      float: left;
      padding-left: 35px;

      @include media-query(991px) {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-top: 30px;
      }
    }
  }

  .event .details h3 {
    font-size: 20px;
    font-size: calc-rem-value(17.77776);
    font-weight: 600;
    color: $darker-gray;
    margin: 0 0 0.9em;
    text-transform: uppercase;

    @include media-query(1199px) {
      font-size: 18px;
      font-size: calc-rem-value(16);
    }
  }

  .event ul {
    margin-bottom: 15px;
  }

  .event ul li {
    font-size: 16px;
    font-size: calc-rem-value(14.22224);
    color: $light-gray;
    position: relative;
    padding-left: 22px;

    @include media-query(1199px) {
      font-size: 15px;
      font-size: calc-rem-value(13.33328);
    }

    .fi {
      color: $theme-primary-color;
      position: absolute;
      left: 0;
    }
  }

  .event ul > li + li {
    margin-top: 5px;
  }

  .event .see-location-btn {
    font-weight: 600;
    color: $theme-primary-color;
    display: inline-block;
    margin-top: 5px;
  }

  .event .see-location-btn:hover {
    color: darken($theme-primary-color, 10%);
  }
}


/*--------------------------------------------------------------
#1.1 rsvp-section
--------------------------------------------------------------*/
.rsvp-section {
  position: relative;
  //text-align: center;

  &:after {
    content: "";
    @include overlay(transparentize($black, 0.4));
  }

  .container {
    position: relative;
    z-index: 10;
  }

  .content p {
    color: $white;
    margin: 0.5em 0 2em;
  }

  .form {
    @include placeholder-style($dark-gray, calc-rem-value(14.22224), normal);

    .col {
      margin-bottom: 25px;
    }

    input,
    select,
    textarea {
      background: #e6eceb;
      height: 45px;
      font-size: 16px;
      font-size: calc-rem-value(14.22224);
      border: 0;
      color: $darker-gray;
      padding: 6px 15px;
      border-color: lighten( $black, 75% );
      border-radius: 0;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      @include rounded-border(3px);

      @include media-query(991px) {
        height: 40px;
        font-size: 15px;
        font-size: calc-rem-value(13.33328);
      }

      &:focus {
        border-color: $theme-primary-color;
        @include round-box-shadow( lighten($theme-primary-color, 10%), 5px, 0 );
      }
    }

    select {
      color: $dark-gray;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      cursor: pointer;
    }

    select::-ms-expand { /* for IE 11 */
      display: none;
    }

    .select-wrapper {
      position: relative;

      &:before {
        font-family: "Flaticon";
        content: $font-flaticon-down-arrow;
        font-size: 10px;
        font-size: calc-rem-value(10);
        font-weight: bolder;
        position: absolute;
        top: 15px;
        right: 12px;
        color: $light-gray;
      }
    }

    textarea {
      height: 150px;
      padding-top: 15px;
    }

    .submit-btn {
      text-align: center;
      margin-bottom: 0;
    }

    .submit-btn button {
      background-color: $theme-primary-color;
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      font-size: calc-rem-value(14.22224);
      font-weight: 600;
      color: $white;
      padding: 0 15px;
      border: 0;
      outline: 0;
      text-transform: uppercase;
      @include rounded-border(3px);
      @include transition-time(0.3s);

      @include media-query(991px) {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        font-size: calc-rem-value(13.33328);
      }
    }

    .submit-btn button:hover {
      background-color: darken($theme-primary-color, 10%);
    }

    .success-error-message {
      margin-bottom: 0;
    }
  }
}


/*--------------------------------------------------------------
#1.2 getting-there-section
--------------------------------------------------------------*/
.getting-there-section {
  background-color: $theme-primary-color;

  a {
    color: $white;
    opacity: 0.7;
  }

  a:hover {
    color: $white;
    opacity: 0.4;
  }

  .content h3,
  .content p,
  .content pre {
    color: $white;
  }

  pre {
    background-color: $green;
    border: 0;
    font-family: $base-font;
    padding: 0;
    line-height: 1.8em;
    font-size: 16px;
    font-size: calc-rem-value(16);
  }

  .content p,
  .content pre {
    @include media-query(1199px) {
      font-size: 16px;
      font-size: calc-rem-value(14.22224);
    }

    @include media-query(767px) {
      font-size: 15px;
      font-size: calc-rem-value(13.33328);
    }
  }

  .content .col p:last-child {
    margin-bottom: 0;
  }

  .content h3 {
    font-size: 25px;
    font-size: calc-rem-value(22.22224);
    font-weight: 600;
    margin: 0 0 0.8em;

    @include media-query(1199px) {
      font-size: 22px;
      font-size: calc-rem-value(19.55552);
    }

    @include media-query(767px) {
      font-size: 20px;
      font-size: calc-rem-value(17.77776);
    }
  }

  .content > .col:first-child {
    @include widther(992px) {
      padding-right: 75px;
      text-align: right;
      border-right: 1px solid darken($theme-primary-color, 5%);
    }

    @include media-query(991px) {
      padding-bottom: 35px;
      margin-bottom: 35px;
      border-bottom: 1px solid darken($theme-primary-color, 5%);
    }
  }

  .content > .col:last-child {
    @include widther(992px) {
      padding-left: 75px;
    }
  }
}


