	/*
  	lifestyle icon font: lifestyle
  	Creation date: 22/06/2016 15:36
  	*/

@font-face {
  font-family: "lifestyle";
  src: url("./lifestyle.eot");
  src: url("./lifestyle.eot?#iefix") format("embedded-opentype"),
       url("./lifestyle.woff") format("woff"),
       url("./lifestyle.ttf") format("truetype"),
       url("./lifestyle.svg#lifestyle") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "lifestyle";
    src: url("./lifestyle.svg#lifestyle") format("svg");
  }
}

[class^="lifestyle-"]:before, [class*=" lifestyle-"]:before,
[class^="lifestyle-"]:after, [class*=" lifestyle-"]:after {   
  font-family: lifestyle;
        font-size: 50px;
font-style: normal;
}

.lifestyle-airplane:before { content: "\f100"; }
.lifestyle-alarm-clock:before { content: "\f101"; }
.lifestyle-backpack:before { content: "\f102"; }
.lifestyle-bed:before { content: "\f103"; }
.lifestyle-bicycle:before { content: "\f104"; }
.lifestyle-birthday:before { content: "\f105"; }
.lifestyle-book:before { content: "\f106"; }
.lifestyle-bowling:before { content: "\f107"; }
.lifestyle-breakfast:before { content: "\f108"; }
.lifestyle-buggy:before { content: "\f109"; }
.lifestyle-bus:before { content: "\f10a"; }
.lifestyle-calendar:before { content: "\f10b"; }
.lifestyle-camping:before { content: "\f10c"; }
.lifestyle-cleaning:before { content: "\f10d"; }
.lifestyle-clothes:before { content: "\f10e"; }
.lifestyle-computer:before { content: "\f10f"; }
.lifestyle-cooking:before { content: "\f110"; }
.lifestyle-cosmetics:before { content: "\f111"; }
.lifestyle-detergent:before { content: "\f112"; }
.lifestyle-dinner:before { content: "\f113"; }
.lifestyle-electric-guitar:before { content: "\f114"; }
.lifestyle-garden:before { content: "\f115"; }
.lifestyle-gymnastics:before { content: "\f116"; }
.lifestyle-headphones:before { content: "\f117"; }
.lifestyle-holiday:before { content: "\f118"; }
.lifestyle-ice-cream:before { content: "\f119"; }
.lifestyle-improvement:before { content: "\f11a"; }
.lifestyle-juice:before { content: "\f11b"; }
.lifestyle-karaoke:before { content: "\f11c"; }
.lifestyle-key:before { content: "\f11d"; }
.lifestyle-kite:before { content: "\f11e"; }
.lifestyle-list:before { content: "\f11f"; }
.lifestyle-mobile-phone:before { content: "\f120"; }
.lifestyle-photo-camera:before { content: "\f121"; }
.lifestyle-picnic:before { content: "\f122"; }
.lifestyle-roller-skate:before { content: "\f123"; }
.lifestyle-scooter:before { content: "\f124"; }
.lifestyle-shirt:before { content: "\f125"; }
.lifestyle-shopping-bag:before { content: "\f126"; }
.lifestyle-shower:before { content: "\f127"; }
.lifestyle-stove:before { content: "\f128"; }
.lifestyle-suitcase:before { content: "\f129"; }
.lifestyle-tablet:before { content: "\f12a"; }
.lifestyle-teeth-cleaning:before { content: "\f12b"; }
.lifestyle-television:before { content: "\f12c"; }
.lifestyle-toilet-paper:before { content: "\f12d"; }
.lifestyle-umbrellas:before { content: "\f12e"; }
.lifestyle-wallet:before { content: "\f12f"; }
.lifestyle-water:before { content: "\f130"; }
.lifestyle-workplace:before { content: "\f131"; }
