    /*
    Flaticon icon font: Flaticon
    Creation date: 21/11/2019 18:49
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="timeline-"]:before, [class*=" timeline-"]:before,
[class^="timeline-"]:after, [class*=" timeline-"]:after {
  font-family: Flaticon;
  font-size: 50px;
  font-style: normal;
}

.timeline-bus:before { content: "\f100"; }
.timeline-ring:before { content: "\f101"; }
.timeline-toast:before { content: "\f102"; }
.timeline-wedding-cake:before { content: "\f103"; }
.timeline-music:before { content: "\f104"; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-fingerprint:before { content: "\f105"; }
.flaticon-bird:before { content: "\f106"; }
.flaticon-cupid:before { content: "\f107"; }
.flaticon-heart:before { content: "\f108"; }
.flaticon-time:before { content: "\f109"; }
.flaticon-placeholder-filled-point:before { content: "\f10a"; }
.flaticon-angle-arrow-pointing-to-right:before { content: "\f10b"; }
.flaticon-delete:before { content: "\f10c"; }
.flaticon-next:before { content: "\f10d"; }
.flaticon-back:before { content: "\f10e"; }
.flaticon-down-arrow:before { content: "\f10f"; }

$font-timeline-bus: "\f100";
$font-timeline-ring: "\f101";
$font-timeline-toast: "\f102";
$font-timeline-wedding-cake: "\f103";
$font-timeline-music: "\f104";
$font-flaticon-fingerprint: "\f105";
$font-flaticon-bird: "\f106";
$font-flaticon-cupid: "\f107";
$font-flaticon-heart: "\f108";
$font-flaticon-time: "\f109";
$font-flaticon-placeholder-filled-point: "\f10a";
$font-flaticon-angle-arrow-pointing-to-right: "\f10b";
$font-flaticon-delete: "\f10c";
$font-flaticon-next: "\f10d";
$font-flaticon-back: "\f10e";
$font-flaticon-down-arrow: "\f10f";
