<!DOCTYPE html>
<html lang="{{ iso_lang }}">
<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Theo Chatzimichos">
  <meta name="description" content="{{ metadescr }}">

  <meta property="og:title" content="#silviatheo">
  <meta property="og:site_name" content="#silviatheo">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.silviatheo.eu/">
  <meta property="og:description" content="{{ metadescr }}">
  <meta property="og:image" content="https://www.silviatheo.eu/images/logo/logo.jpg">
  <meta property="fb:admins" content="1227776090">
  <meta property="fb:admins" content="514113683">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@tampakrap">
  <meta name="twitter:creator" content="@tampakrap">
  <meta name="twitter:title" content="#silviatheo">
  <meta name="twitter:description" content="{{ metadescr }}">
  <meta name="twitter:image" content="https://www.silviatheo.eu/images/logo/logo.jpg">

  <!-- Page Title -->
  <title>#silviatheo</title>

  <!-- Favicon and Touch Icons -->
  <link href="../images/favicon/favicon.png" rel="shortcut icon" type="image/png">
  <link href="../images/favicon/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="../images/favicon/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="../images/favicon/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="../images/favicon/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans:400,600,700&amp;display=swap&amp;subset=greek">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=" crossorigin="anonymous">

  <!-- Plugins -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css" integrity="sha256-1hIhSlowg4vqaFZ/bikPMfEGwSgM0FtIs7mx1PADHCk=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" integrity="sha256-jySGIHdxeqZZvJ9SHgPNjbsBP8roij7/WjgkoGTJICk=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" integrity="sha256-WmhCJ8Hu9ZnPRdh14PkGpz4PskespJwN5wwaFOfvgY8=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinners/8-circle.min.css" integrity="sha256-2yzc3II8o774iu1cQQUuP/kBiLGRxGyzWKQVicl8aQU=" crossorigin="anonymous">

  <!-- Custom and upstream styles, combined and minified -->
  <link rel="stylesheet" href="../css/style.min.css">
</head>

<body id="home">
  <div class="page-wrapper">
    <div class="preloader">
      <div class="inner">
        <span class="icon"><div class="fi flaticon-bird"></div></span>
      </div>
    </div>
    <section class="hero">
      <div class="hero-slider hero-slider-s1">
        <div class="slide-item">
          <img src="../images/slider/slide-1.jpg" alt="Silvia and Theo" class="slider-bg">
        </div>
        <div class="slide-item">
          <img src="../images/slider/slide-2.jpg" alt="Silvia and Theo" class="slider-bg">
        </div>
      </div>
      <div class="wedding-announcement">
        <div class="couple-name-merried-text">
          <!-- htmllint id-class-style="camel" -->
          <h1 class="wow slideInUp" data-wow-duration="1s">Σίλβια &amp; Θοδωρής</h1>
          {%- set time = namespace(value=1) %}
          <!-- htmllint id-class-style=false -->
          <div class="married-text wow fadeIn" data-wow-delay="{{ time.value }}s">
            <h4 class="">
            <!-- htmllint id-class-style="camel" -->
            {%- for letter in weregettingmarried %}
            {%- set time.value = time.value + 0.05 %}
            {%- if letter != ' ' %}
            <span class="wow fadeInUp" data-wow-delay="{{'%0.2f' | format(time.value|float) }}s">{{ letter }}</span>
            {%- else -%}
            <span>&nbsp;</span>
            {%- endif %}
            {%- endfor %}
            <!-- htmllint id-class-style="dash" -->
            </h4>
          </div>
        </div>
        <div class="save-the-date">
          <h4>Save the date</h4>
          <span class="date">{{ date }}</span>
        </div>
      </div>
    </section>
    <header id="header" class="site-header header-style-1">
      <nav class="navigation navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="open-btn">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="couple-logo">
              <h1><a href="#" class="back-to-top-btn-logo">Σ <span class="fi flaticon-fingerprint"></span> Θ</a></h1>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
            <button class="close-navbar"><div class="fi flaticon-delete"></div></button>
            <ul class="nav navbar-nav">
              <!--li><a href="#home">Home</a></li-->
              <li><a href="#invitation">{{ invitation_title }}</a></li>
              <li><a href="#timeline">{{ timeline_title }}</a></li>
              <li><a href="#venue">{{ venue_title }}</a></li>
              <li><a href="#transportation">{{ transportation_title }}</a></li>
              <li><a href="#accommodation">{{ accommodation_title }}</a></li>
              <li><a href="#rsvp">RSVP</a></li>
              <li><a href="#pre-party">Pre-Party</a></li>
              <li class="menu-item-has-children">
                <!-- htmllint id-class-style=false -->
                <a href="javascript:void(0);"><div class="flags flag-{{ lang }}"></div></a>
                <!-- htmllint id-class-style="dash" -->
                <ul class="sub-menu">
                  <!-- htmllint id-class-style=false -->
                  {%- for flag in other_langs %}
                  <li><a href="/{{ flag }}/"><div class="flags flag-{{ flag }}"></div></a></li>
                  {%- endfor %}
                  <!-- htmllint id-class-style="dash" -->
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="wedding-couple-section section-padding" id="invitation">
      <div class="section-title">
        <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
        <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ invitation_title }}</span>{% else %}{{ invitation_title }}{% endif %}</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="gb groom">
              <!-- htmllint id-class-style=false -->
              <div class="img-holder wow zoomIn">
              <!-- htmllint id-class-style="dash" -->
                <img src="../images/logo/logo.jpg" alt="Silvia and Theo's wedding logo">
              </div>
              <div class="details">
                <div class="details-inner">
                  <p>{{ invitation_content }}</p>
                  <p><a href="rsvp">{{ invitation_accept }}</a></p>
                  <span class="signature">Silvia &amp; Theo</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="count-down-section section-padding parallax" data-bg-image="../images/countdown-bg.jpg" data-speed="7">
      <div class="container">
        <div class="row">
          <div class="col col-md-4">
            <h2><span>Loading .....</span> Save the Date!<span>11-07-2020</span></h2>
          </div>
          <div class="col col-md-7 col-md-offset-1">
            <div class="count-down-clock">
              <div id="clock">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="story-section section-padding" id="timeline">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ timeline_title }}</span>{% else %}{{ timeline_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-xs-12">
            <div class="story-timeline">
              <div class="row">
                <div class="col col-md-6 text-holder">
                  <div class="story-text right-align-text">
                    <div class="fi timeline-bus"></div>
                    <h3>{{ bus1_title }}</h3>
                    <div class="clocks">
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 18:00
                      </span>
                    </div>
                    <p>{{ bus1_content }}</p>
                  </div>
                </div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <div class="fi flaticon-heart"></div>
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6"></div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <div class="fi flaticon-heart"></div>
                  </span>
                  <div class="story-text">
                    <div class="fi timeline-ring"></div>
                    <h3>{{ ceremony_title }}</h3>
                    <div class="clocks">
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 19:00
                      </span>
                    </div>
                    <p>{{ ceremony_content }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6 text-holder right-heart">
                  <span class="heart">
                    <div class="fi flaticon-heart"></div>
                  </span>
                  <div class="story-text right-align-text">
                    <div class="fi timeline-toast"></div>
                    <h3>{{ cocktail_title }}</h3>
                    <div class="clocks">
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 20:00
                      </span>
                    </div>
                    <p>{{ cocktail_content }}</p>
                  </div>
                </div>
                <div class="col col-md-6">
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6">
                </div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <div class="fi flaticon-heart"></div>
                  </span>
                  <div class="story-text">
                    <div class="fi timeline-wedding-cake"></div>
                    <h3>{{ dinner_title }}</h3>
                    <div class="clocks">
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 22:00
                      </span>
                    </div>
                    <p>{{ dinner_content }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6 text-holder right-heart">
                  <span class="heart">
                    <div class="fi flaticon-heart"></div>
                  </span>
                  <div class="story-text right-align-text">
                    <div class="fi timeline-music"></div>
                    <h3>{{ party_title }}</h3>
                    <div class="clocks">
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 00:00
                      </span>
                    </div>
                    <p>It's party time! Throw your hands in the air and wave them like you just don't care! {{ party_content }}</p>
                  </div>
                </div>
                <div class="col col-md-6">
                </div>
              </div>
              <div class="row">
                <div class="col col-md-6">
                </div>
                <div class="col col-md-6 text-holder">
                  <span class="heart">
                    <div class="fi flaticon-heart"></div>
                  </span>
                  <div class="story-text">
                    <div class="fi timeline-bus"></div>
                    <h3>{{ bus2_title }}</h3>
                    <div class="clocks">
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 01:30
                      </span>
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 03:00
                      </span>
                      <span class="clock">
                        <span class="fi flaticon-time"></span> 05:00
                      </span>
                    </div>
                    <p>{{ bus2_content }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta section-padding parallax" data-bg-image="../images/cta-bg.jpg" data-speed="7">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <h2><span>{{ hashtag }}</span> #silviatheo</h2>
          </div>
        </div>
      </div>
    </section>
    <section class="events-section section-padding" id="venue">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ venue_title }}</span>{% else %}{{ venue_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <div class="img-holder">
                <img src="../images/venue.jpg" alt="wedding venue" class="img img-responsive">
              </div>
              <div class="details">
                <h3>La Quinta de Illescas</h3>
                <ul>
                  <li><div class="fi flaticon-placeholder-filled-point"></div>{{ venue_address }}</li>
                </ul>
                <!-- htmllint href-style="absolute" -->
                <p>{{ venue_content }}</p>
                <a class="see-location-btn popup-gmaps" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414" target="_blank" rel="noreferrer noopener nofollow">{{ map }} <span class="fi flaticon-angle-arrow-pointing-to-right"></span></a>
                <!-- htmllint href-style="relative" -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="events-section section-padding" id="transportation">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ transportation_title }}</span>{% else %}{{ transportation_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <div class="coming-soon">
                <p>Coming Soon!</p>
              </div>
              <p>{{ transportation_soon }}</p>
            </div>
            <!--div class="event">
              <p>{{ transportation_content }}</p>
            </div>
            <div class="event">
              <div class="img-holder">
                <img src="../images/transportation1.jpg" alt class="img img-responsive">
              </div>
              <div class="details">
                <h3>{{ transportation1_title }}:</h3>
                <ul>
                  <li><div class="fi flaticon-placeholder-filled-point"></div>{{ transportation1_address }}</li>
                  <li><div class="fi flaticon-time"></div> 19:00</li>
                </ul>
                <p>{{ transportation1_content }}</p>
                <a class="see-location-btn popup-gmaps" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414" target="_blank" rel="noreferrer noopener nofollow">{{ transportation1_map }} <span class="fi flaticon-angle-arrow-pointing-to-right"></span></a>
              </div>
            </div>
            <div class="event">
              <div class="img-holder">
                <img src="../images/transportation2.jpg" alt class="img img-responsive">
              </div>
              <div class="details">
                <h3>{{ transportation2_title }}:</h3>
                <ul>
                  <li><div class="fi flaticon-placeholder-filled-point"></div>{{ transportation2_address }}</li>
                  <li><div class="fi flaticon-time"></div> 19:00</li>
                </ul>
                <p>{{ transportation2_content }}</p>
                <a class="see-location-btn popup-gmaps" href="https://www.google.com/maps/place/La+Quinta+de+Illescas/@40.164897,-3.8161193,18.58z/data=!4m5!3m4!1s0xd41f4029c1e3685:0xe528694c1b18788e!8m2!3d40.1649416!4d-3.8158414" target="_blank" rel="noreferrer noopener nofollow">{{ transportation2_map }} <span class="fi flaticon-angle-arrow-pointing-to-right"></span></a>
              </div>
            </div-->
          </div>
        </div>
      </div>
    </section>
    <section class="events-section section-padding" id="accommodation">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ accommodation_title }}</span>{% else %}{{ accommodation_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <div class="coming-soon">
                <p>Coming Soon!</p>
              </div>
              <p>{{ accommodation_soon }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="getting-there-section section-padding">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title-white">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ gifts_surprises_title }}</span>{% else %}{{ gifts_surprises_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row content">
          <div class="col col-md-6">
            <h3>{{ gifts_title }}</h3>
            <p>{{ gifts_content }}</p>
            <pre>IBAN: ES91 0239 0806 7600 1762 9528<br>SWIFT/BIC: EVOBESMMXXX<br>NAME: Silvia Alvarez Almazan</pre>
          </div>
          <div class="col col-md-6">
            <h3>{{ surprises_title }}</h3>
            <p>{{ surprises_content }}</p>
            <p>Mélanie: <a href="mailto:info@imaginatuboda.es">info@imaginatuboda.es</a></p>
          </div>
        </div>
      </div>
    </section>
    <section class="rsvp-section section-padding parallax" data-bg-image="../images/rsvp-bg.jpg" data-speed="7" id="rsvp">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title-white">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ rsvp_title }}</span>{% else %}{{ rsvp_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row content">
          <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>{{ rsvp_content }}</p>
            <form id="rsvp-form" class="form validate-rsvp-form row" method="post">
              <div class="col col-sm-6">
                <input type="text" name="name" class="form-control" placeholder="{{ rsvp_name }}*" aria-label="{{ rsvp_name }}*">
              </div>
              <div class="col col-sm-6">
                <input type="email" name="email" class="form-control" placeholder="{{ rsvp_email }}*" aria-label="{{ rsvp_email }}*">
              </div>
              <div class="col col-sm-6">
                <input type="text" name="partner-name" class="form-control" placeholder="{{ rsvp_partner }}" aria-label="{{ rsvp_partner }}">
              </div>
              <div class="col col-sm-6">
                <div class="select-wrapper">
                  <select class="form-control" name="kids" aria-label="{{ rsvp_kids }}">
                    <option disabled selected>{{ rsvp_kids }}</option>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
                </div>
              </div>
              <div class="col col-sm-12">
                <textarea class="form-control" name="message" placeholder="{{ rsvp_message }}" aria-label="{{ rsvp_message }}"></textarea>
              </div>
              <div class="col col-sm-12 submit-btn">
                <button type="submit" class="submit">{{ rsvp_send }}</button>
                <span id="loader">
                  <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                  </div>
                </span>
              </div>
              <div class="col col-md-12 success-error-message">
                <div id="success">{{ rsvp_thankyou }}</div>
                <div id="error"> Error occurred while sending email. Please try again later. </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="events-section section-padding" id="pre-party">
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <div class="section-title">
              <div class="vertical-line"><span><div class="fi flaticon-bird"></div></span></div>
              <h2>{% if lang in special_langs %}<span class="{{ lang }}">{{ preparty_title }}</span>{% else %}{{ preparty_title }}{% endif %}</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col col-lg-10 col-lg-offset-1">
            <div class="event">
              <div class="img-holder">
                <img src="../images/pre-party.jpg" alt="preparty place" class="img img-responsive">
              </div>
              <div class="details">
                <h3>Saporem</h3>
                <ul>
                  <li><div class="fi flaticon-placeholder-filled-point"></div>Calle de Ventura de la Vega, 5</li>
                  <li><div class="fi flaticon-time"></div>{{ preparty_date }}</li>
                </ul>
                <!-- htmllint href-style="absolute" -->
                <p>{{ preparty_content }}</p>
                <p><a href="https://www.facebook.com/theantilopes.jpg" target="_blank" rel="noreferrer noopener nofollow"><img src="../images/theantilopes.jpg" alt="the antilopes"></a>{{ preparty_music }} <a href="https://www.facebook.com/theantilopes/" target="_blank" rel="noreferrer noopener nofollow">The Antilopes</a>!</p>
                <a class="see-location-btn popup-gmaps" href="https://www.google.com/maps/place/Saporem/@40.4158492,-3.7010353,17z/data=!3m1!4b1!4m5!3m4!1s0xd42288175bcdb51:0x9bcb201a9344e5b!8m2!3d40.4158492!4d-3.6988466" target="_blank" rel="noreferrer noopener nofollow">{{ map }} <span class="fi flaticon-angle-arrow-pointing-to-right"></span></a>
                <!-- htmllint href-style="relative" -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="site-footer">
      <div class="back-to-top">
        <a href="#" class="back-to-top-btn"><span><div class="fi flaticon-cupid"></div></span></a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col col-xs-12">
            <h2>I feel your love for me baby...</h2>
            <span>- Busta Rhymes</span>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- All JavaScript files
  ================================================== -->
  <!-- JQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=" crossorigin="anonymous"></script>

  <!-- Plugins -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.0/jquery.easing.min.js" integrity="sha256-nVIZYMDqqU8m8SC5smkwk6OdGr3m9zqqSGjrFGhah9E=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha256-z6FznuNG1jo9PP3/jBjL6P3tvLMtSwiVAowZPOgo56U=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" integrity="sha256-4Cr335oZDYg4Di3OwgUOyqSTri0jUm2+7Gf2kH3zp1I=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.min.js" integrity="sha256-Ikk5myJowmDQaYVCUD0Wr+vIDkN8hGI58SGWdE671A8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js" integrity="sha256-qh2AzfCZDpeiEGmrFsBI75CjXfEWW4fRmsyr18TtyGA=" crossorigin="anonymous"></script>

  <!-- Custom script, combined and minimized -->
  <script src="../js/script.min.js"></script>
</body>
</html>
